@import "@picocss/pico/scss/pico";

:root {
  --spacing: 0.5rem;
  --font-size: 16px;
  --form-element-spacing-vertical: 0.25rem;
  --form-element-spacing-horizontal: 0.5rem;
}

.flash {
  margin: 0 0 1rem;

  &.info {
    color: blue
  }

  &.alert {
    color: red
  }

  &.notice,
  &.success {
    color: green
  }
}

form.button_to {
  display: inline-block;
  margin-bottom: 0;

  [type="submit"] {
    background: none;
    border: none;
    color: var(--primary);
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-align: inherit;
  }
}
