<h1>Dns records</h1>

<%= link_to "New dns record", new_dns_record_path, role: "button", class: "outline" %>

<div id="dns_records">
  <% @dns_records.each do |dns_record| %>
    <%= render dns_record %>
  <% end %>
</div>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
