<%= turbo_stream_from(:blocklists) %>

<h1>Blocklists</h1>

<%= link_to "New blocklist", new_blocklist_path, role: "button", class: "outline" %>
<%= link_to "Refresh all", refresh_all_blocklists_path, role: "button", class: "outline secondary" %>

<div id="blocklists">
  <% @blocklists.each do |blocklist| %>
    <%= render blocklist %>
  <% end %>
</div>
